* 
{
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #202020;
}

.skinHeader,
html {
	line-height: 1.35;
    color: #ddd;
    color: rgba(255, 255, 255, 0.75);
}

/*font top frontpage*/
.emby-tab-button {
  position: relative;
  padding: 1em;
  color: white;
  font-size: 1.4em;
}

.backdropImage {
  filter: blur(5px);
}

.layout-desktop .itemBackdrop::after {
  background: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #101010;
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255, 255, 255, 0.135);
}

.skinHeader-withBackground {
    background: linear-gradient(180deg, rgba(0, 0, 0,0.9), rgba(0, 0, 0, 0.0));
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, 0.0);
	}

.paper-icon-button-light { 
	border-radius: 0.5em;
}

div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
  margin: 0;
  padding-bottom: .2em;
  padding-top: .9em;
}

.paper-icon-button-light > .material-icons {
  font-size: 2.6695652174em;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

.layout-desktop .detailPagePrimaryContainer {
  padding-left: 26.45vw;
  position: relative;
}

.itemName.parentNameLast {
  margin: 0;
}
.infoText {
  max-width: 100%;
  min-width: 0;
  text-align: left;
}
.itemName {
  font-weight: 600;
  margin: .5em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h1, h2 {
  font-weight: 400;
}
h1 {
  font-size: 2.7em;
}

@media (min-width: 100em) {
  .mainDetailButtons {
    font-size: 170%;
    margin: 1.25em 0;
  }
}
.detailButton, .mainDetailButtons {
  display: -webkit-flex;
  display: flex;
}
.mainDetailButtons {
  -webkit-align-items: center;
  align-items: center;
  margin: 1em 0;
}

.detailPageContent {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 26.45vw;
  padding-right: 2%;
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
}

.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}

.layout-tv .pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/icon-transparent.png);
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
    background-color: rgba(16, 16, 16, 0.86);
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.50);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #dc0000;
        background-color: rgba(0, 0, 0, 0.44);
    }

}

.paper-icon-button-light:active:not(:disabled) {
    color: #DC0000;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #DC0000;
}

.fab,
.raised {
    background: rgba(41, 41, 41, 0.5);
    border: 0.07em solid #3c3c3c;
    color: rgba(255, 255, 255, 0.87);
}

.fab:focus,
.raised:focus {
    background: #383838;
}

.button-submit {
    background: #DC0000;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff;
}

.button-delete {
    background: rgb(247, 0, 0);
    color: rgba(255, 255, 255, 0.87);
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #bbb;
    color: rgba(255, 255, 255, 0.7);
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #DC0000;
}

.checkboxOutline {
    border-color: currentColor;
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
    background-color: #202020;
}

.cardContent {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 0 !important;
  border-radius: .0em;
  bottom: 0;
  color: inherit;
  contain: strict;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  left: 0;
  margin: 0 !important;
  outline: none !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.cardBox:not(.visualCardBox) .cardPadder {
  background-color: #242424;
  border-radius: .0em;
}

.cardOverlayFab-primary {
  background-color: rgba(0, 0, 0, 0.48);
  font-size: 130%;
  height: 3em;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 3em;
}

.cardOverlayContainer {
  background: rgba(255,255,255,.0);
  border-radius: .0em;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;	
}

.cardOverlayContainer:hover,
.dialog,
.toast,
.raised.homeLibraryButton:hover {
  border: solid 3px rgba(255,0,0,0.6) !important;
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent;
}

.defaultCardBackground1 {
    background-color: #00455c;
}

.defaultCardBackground2 {
    background-color: #44bae1;
}

.defaultCardBackground3 {
    background-color: #00a4db;
}

.defaultCardBackground4 {
    background-color: #1c4c5c;
}

/* active device administration part */
.defaultCardBackground5 {
    background-color: rgba(220, 0, 0, 0.2);
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #5594FB !important;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
}

.layout-desktop .detailImageContainer .card {
  left: 3.3%;
  max-height: none;
  top: 0%;
  width: 22vw;
}
.detailImageContainer .card {
  max-width: 22vw;
  position: absolute !important;
  z-index: 3;
}
.card:not(.show-animation) {
  contain: layout style paint;
}

.actionsheetDivider {
    background: #444;
    background: rgba(255, 255, 255, 0.14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: 0.5;
}

.toast {
    background: #303030;
    color: #fff;
    color: rgba(255, 255, 255, 0.87);
}

.appfooter,
.playlistSectionButton {
    background: rgba(0, 0, 0, 0.75);
    color: #ccc;
    color: rgba(255, 255, 255, 0.78);
}

.itemSelectionPanel {
    border: 1px solid #DC0000;
}

.selectionCommandsPanel {
    background: #DC0000;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #DC0000;
}

.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #DC0000;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #1c1c1c;
    background: rgba(30, 30, 30, 0.9);
}

.detailRibbon {
    background: none;
}

.layout-tv .detailRibbon {
    background: none;
}

.listItem-border {
    border-color: rgba(34, 34, 34, 0.9) !important;
}

.listItem:focus {
    background: #333;
}

.listItem:hover {
    background: rgba(220, 0, 0, 0.5);
}

.progressring-spiner {
    border-color: #DC0000;
}

.button-flat:hover {
    color: #DC0000;
}

.button-link {
    color: #DC0000;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170, 170, 190, 0.2);
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: #292929;
    border: 0.16em solid #292929;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #DC0000;
}

.emby-select-withcolor {
    color: inherit;
    background: rgba(41, 41, 41, 0.5);
    border: 0.07em solid #292929;
}

.emby-select-withcolor > option {
    color: inherit;
    background: #222;
}

.emby-select-withcolor:focus {
    border-color: #00a4dc !important;
}

.emby-select-tv-withcolor:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
    border-color: #DC0000;
}

.emby-checkbox:focus + span + .checkboxOutline {
    border-color: #fff;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
    background-color: #DC0000;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #DC0000;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #DC0000;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer,
.drawer-open {
    background-color: rgba(16, 16, 16, 0.86);
	border: 0.07em solid #3c3c3c;
}

.navMenuOption:hover {
    background: rgba(220, 0, 0, 0.5);
}

.navMenuOption-selected {
    background: #00a4dc !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #DC0000;
    color: #fff;
}

.emby-tab-button {
    color: #999;
}

.emby-tab-button-active {
    color: #fff;
}

.emby-tab-button.show-focus:focus {
    color: #DC0000;
}

.emby-tab-button:hover {
    color: #DC0000;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(255, 255, 255, 0.05);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: #1e1e1e !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(255, 255, 255, 0.3);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #DC0000;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #DC0000;
    color: #fff;
}

.infoBanner {
    color: #ddd;
    background: #111;
    padding: 1em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

.ratingbutton-icon-withrating {
    color: #c33;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #00a4dc !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #00a4dc !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: center no-repeat #888;
}

.timeslotHeaders-desktop::-webkit-scrollbar {
    height: 0.7em;
}

.metadataSidebarIcon {
    color: #DC0000;
}

.emby-button.detailFloatingButton {
    background-color: #DC0000;
    color: #fff;
}

.layout-tv .emby-button.detailFloatingButton:focus {
    background-color: #f2f2f2;
    color: #DC0000;
}

/*fixing Poster Margin*/

.itemsContainer > .card > .cardBox {
  margin: 0 !important;
}

.sectionTitleContainer.flex {
  box-shadow: 0 0 black !important;
}

.emby-input,
.emby-textarea,
.emby-select {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.5) !important;
  text-shadow: none !important;
  border: 2.5px solid #444444 !important;
  padding: calc(1em - 2.5px) !important;
  color: white !important;
  transition: 0.2s;
}

.inputLabel,
.selectLabel,
.textareaLabel {
  color: #eee;
  font-size: 1.2em;
  align-items: center;
}

.selectContainer {
  align-items: center;
}

label.selectLabel {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.inputLabel.inputLabelFocused,
.selectLabel.selectLabelFocused,
.textareaLabel.textareaLabelFocused {
  color: var(--accent) !important;
}

.listItemIcon.notifications {
  font-size: 2em;
}

.cardBox {
  background: transparent !important;
  box-shadow: none;
  overflow: hidden;
  transition: all 0.15s;
}

.card {
  border-radius: var(--rounding);
  transition: 0.2s;
  z-index: 100;
}

.paper-icon-button-light.cardOverlayButton {
  background: rgba(20, 20, 20, 0.85);
  border-radius: 0.5em !important;
}

.card:hover .cardText,
.card:focus .cardText {
  opacity: 1;
}

.homeLibraryButton:hover,
.homeLibraryButton:focus,
.card:hover,
.card:focus {
  transform: scale(1.2) !important;
  -webkit-filter: none !important;
  filter: none !important;
  box-shadow: 0 0 0px black;
}

.vertical-wrap {
  width: 100% !important;
}

.emby-scroller {
  overflow: visible !important;
}

.card,
.homeLibraryButton {
  margin: 5px;
}

.homeLibraryButton {
  z-index: 100;
}

.itemsContainer {
  margin: 0 !important;
}

.homeLibraryButton:not(:hover),
.card:not(:hover) {
  z-index: 5;
}

/*video player colors*/
.mdl-slider::-moz-range-thumb {
  appearance: none;
  background: #dc0000;
  background-image: none;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  height: 1.08em;
  transition: .2s;
  width: 1.08em;
}

.mdl-slider {
  appearance: none;
  background: transparent;
  color: #dc0000;
  height: 150%;
  margin: 0;
  outline: 0;
  user-select: none;
  width: 100%;
  z-index: 1;
  display: block;
  font-size: inherit;
}

.mdl-slider-background-lower {
  background-color: #A70B0B;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 0;
}

/*music player width*/
.nowPlayingBarTop {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 5.2em;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}

/* hightlight administration part */

.css-17c09up.Mui-selected:hover {
  background-color: #D80000;
}

.css-17c09up.Mui-selected {
  background-color: rgba(220, 0, 0, 0.2);
}

.css-17c09up:hover {
  text-decoration: none;
  background-color: #D80000;
}

/* user avatar administration part */
.css-192q3pc {
  position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  background-color: #D80000;
}


/* activity info administration part */
.listItemIcon:not(.listItemIcon-transparent) {
  background-color: #D80000 !important;
  color: #FFFFFF;
}
















